[Unit]
Description=start the smars_lab server as a service
After=multi-user.target

[Service]
User=jan
Group=jan
Type=simple
ExecStart=/usr/bin/bash /home/jan/Smarslab/smars_lab.sh

[Install]
WantedBy=multi-user.target